body {
    color: rgb(241, 135, 179);
    background: rgb(231, 137, 137);
}

header {
border: solid 2px white;
}
header {
    border: solid 2px rgb(240, 100, 100);
}
header {
    border-bottom: solid 2px rgb(243, 123, 123);
    padding: 20px;
    font-size: 32px;
    color: rgb(219, 121, 121);
}
body {
    color: rgb(233, 137, 137);
    background: rgb(247, 155, 155);
    margin: 0px;
}
